:root {
    --color01: #6A414A;
    --color02: #AA9377;
    --color03: #f7f6EE;
    --color04: #e5DeD6;
  }
  * {
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 10px;
    padding: 1%;
  }
  
  a {
    display: flex;
    color: var(--color01);
    width: 100vw;
    height: 10vh;
    text-align: center;
  }
  a:link {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: var(--color04);
  }
    
  Header {
    background-color: #AA9377;
    border-radius: 1vh;
    width: 10vw;
    align-items: center;
    margin: 2vh 2vw;
    padding: 4vh 4vw;
    display: flex; 
  }
  
  li {
    display: inline-flex;
    height: 2vh;
  }
  
  .linkCard {
    display: flex;
    background-color: var(--color02);
    text-align: left;
    padding: 2vh 1vw;
    margin: .5%;
    flex-wrap: wrap;
    text-align: center;
  }

  .col {
    width: 25vw;
    height: 10vh;
  }
  
  @media screen and (max-width: 1000px){
    body {
        margin-top: 40px;
    }
    a {
        color: var(--color03);
    }
    .linkCard {
        background-color: var(--color01);
        color: var(--color02);
    }
    header {
        background-color: var(--color01);
    }   
  }