:root {
    --color01: #6A414A;
    --color02: #AA9377;
    --color03: #f7f6EE;
    --color04: #e5DeD6;
  }
  * {
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 10px;
    padding: 1%;
  }
  
  a {
    color: var(--color01);
  }
  a:link {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: var(--color04);
  }
  
  /* body {
    background-color: var(--color01);
    background-image: url("./images/TOPOGRAPHICAL_HUGE.svg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  } */
  
  Header {
    text-align: center;
    background-color: #AA9377;
    border-radius: 10px;
    width: 0vw;
  }
  
  li {
    display: inline-flex;
  }
  
  .linkCard {
    background-color: var(--color02);
    text-align: center;
  }
  
  @media screen and (max-width: 1000px){
    body {
        margin-top: 40px;
    }
    a {
        color: var(--color03);
    }
    .linkCard {
        background-color: var(--color01);
        color: var(--color02);
    }
    header {
        background-color: var(--color01);
    }   
  }