body {
  background-color: var(--color01);
  background-image: url("./images/TOPOGRAPHICAL_HUGE.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height:150vh;
}

